.k-panelbar > .k-item > .k-link, .k-panelbar > .k-panelbar-header > .k-link {
    color: rgb(47, 88, 199);
    background-color: white;
}

.k-panelbar > .k-item > .k-link.k-state-selected, .k-panelbar > .k-panelbar-header > .k-link.k-state-selected {
    color: white;
    background-color: rgb(47, 88, 199);
}

.k-panelbar > .k-item > .k-link.k-state-selected:hover, .k-panelbar > .k-item > .k-link.k-state-selected.k-state-hover, .k-panelbar > .k-panelbar-header > .k-link.k-state-selected:hover, .k-panelbar > .k-panelbar-header > .k-link.k-state-selected.k-state-hover {
    background-color: rgb(117, 120, 161);
}

.k-panelbar > .k-item > .k-link.k-state-selected:focus,
.k-panelbar > .k-item > .k-link.k-state-selected.k-state-focus,
.k-panelbar > .k-item > .k-link.k-state-selected.k-state-focused,
.k-panelbar > .k-panelbar-header > .k-link.k-state-selected:focus,
.k-panelbar > .k-panelbar-header > .k-link.k-state-selected.k-state-focus,
.k-panelbar > .k-panelbar-header > .k-link.k-state-selected.k-state-focused {
    background-color: rgb(46, 56, 192);
}