/* .tv-img{
    background-image: url("ipl.jpg");
    background-repeat: no-repeat;
    height: 73%;
    width: 55%;
    background-size: cover;
    position: absolute;
} */
    
.border{
    border: 2px solid rgb(41, 40, 40);
    border-radius: 8px;
}
 
body {
    background-color: #fff;
  }
  
  #container {
    max-width: 720px;
    margin: auto;
     
  }
  
  #monitor {
      background: #000;
      bottom: 400px ;
      position: relative;
      border-top: 3px solid #888; 
      padding: 2% 2% 4% 2%; 
      border-radius: 10px;
      margin: 28%; 
      border-bottom-left-radius: 50% 2%; 
      border-bottom-right-radius: 50% 2%; 
      transition: margin-right 1s;
  }
  
  
  
  #monitorscreen {
      position: relative;
      background-color: #fff;
      background-size: cover; 
      background-position: top center;
      height: 0; 
      padding-bottom: 56%; 
      position: relative;
      overflow: hidden;
      padding-top: -10px;
     
  }
  
  
  @media all {
      #monitor {
          
      }
  
    }
    