body {
    padding: 2em;
    font-family: Arial, sans-serif;
  }
  
  p {
    margin-bottom: 2em;
  }
  
  input[type="range"] {
    position: relative;
  }
  
  input[type="range"]:before {
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -10px;
    content: attr(value);
    display: block;
    text-align: center;
    width: 20px;
    height: 10px;
  }