/* .tv-img{
    background-image: url("ipl.jpg");
    background-repeat: no-repeat;
    height: 73%;
    width: 55%;
    background-size: cover;
    position: absolute;
} */
    

 

.heatmaptable{
    margin-left: 1px; 
    margin-right: 1px;
    margin-top: 1px;
    width: 100%;
  
  
}
.heatmapinput{
    width:100%;
    height: 95px;
    background-color: rgb(180, 221, 231);
      
}

  
  #container {
    max-width: 1020px;
    margin: auto;
  }
  
  #monitor {
      background: #000; 
      position: initial;
      border-top: 3px solid #888; 
      margin: 5%;
      padding: 2% 2% 3% 2%; 
      border-radius: 10px; 
      border-bottom-left-radius: 50% 2%; 
      border-bottom-right-radius: 50% 2%; 
      transition: margin-right 1s;
  }
  
  #monitor:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 3%;
      left: 36%;
      height: .5%; 
      width: 25%;
      background: #ddd; 
      border-radius: 50%; 
      box-shadow: 0 0 3px 0 white; 
  }
  
  #monitorscreen {
      position: relative;
    background-color: #fff;
      background-size: cover; 
      background-position: top center;
      height: 0; 
      padding-bottom: 56%; 
      position: relative;
      overflow: hidden;
  }
  
  
